[email]
mailto=wheac@connect.ust.hk
subject=SMZDM今日
mode=mailgun

# mailgun mode
mail_from=postmaster@sandbox3456353438(fake_email)17236bc196da.mailgun.org #
mailgun_domain=sandbox3456353438(fake_domain)17236bc196da.mailgun.org #
mailgun_apikey=key-3462456367(fake_key)3675637456746

# STMP mode (Not Supported yet)
#server=
#port=
#user=
#pwd=

[filter]
keyword0=葡萄酒|全脂牛奶|
keyword1=奶粉|音箱|电视|乐高|滚筒洗衣机|羽绒服|吸顶灯|购车|儿童餐具|猫粮

#[notify]
#keyword=
# ( Not Supported yet )


[advance]
max_num_item=50
append_log=1